<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.oceanbioserver.mapper.WxGoodsMapper">

    <resultMap id="BaseResultMap" type="com.example.oceanbioserver.entity.WxGoods">
            <id property="goodsId" column="goods_id" />
            <result property="goodsName" column="goods_name" />
            <result property="price" column="price" />
            <result property="category" column="category" />
            <result property="brand" column="brand" />
            <result property="specifications" column="specifications" />
            <result property="description" column="description" />
            <result property="image" column="image" />
            <result property="stock" column="stock" />
            <result property="sales" column="sales" />
            <result property="createTime" column="create_time" />
            <result property="updateTime" column="update_time" />
    </resultMap>

    <sql id="Base_Column_List">
        goods_id,goods_name,price,category,brand,specifications,
        description,image,stock,sales,create_time,
        update_time
    </sql>
</mapper>
