<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.oceanbioserver.mapper.WxUserMapper">

    <resultMap id="BaseResultMap" type="com.example.oceanbioserver.entity.WxUser">
            <id property="userId" column="user_id" />
            <result property="username" column="username" />
            <result property="password" column="password" />
            <result property="userImg" column="user_img" />
            <result property="flag" column="flag" />
    </resultMap>

    <sql id="Base_Column_List">
        user_id,username,password,user_img,flag
    </sql>
</mapper>
